/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body
{
    min-height: 100vh;
    background: rgb(240, 236, 236);

}
.navigation
{
    position:fixed;
    top:20px;
    left:20px;
    bottom: 20px;
    width: 300px;
    border-radius: 10px;
    box-sizing: initial;
    border-left: 0px solid #147bb6;
    background: #1073a4;
    transition: 0.5s;
}
.navigation.active{
    width: 50px;
}
.navigation ul
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding-left: 5px;
    padding-top: 40px;

}
.navigation ul li
{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.navigation ul li.active
{
    background: #fff;
    height: 60px;
}
.navigation ul li:hover
{
    background: var(--white);
}


.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navigation ul li.active a
{
    color: rgb(14, 13, 13);
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 40px;
    line-height: 70px;
    height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon
{
    font-size: .6cm;
}
.navigation ul li a .title
{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}
/* main pritam */
.main
{
    position: absolute;
    width: calc(100% - 300px);
    left: 320px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
.topbar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.toggle
{
    position: relative;
    top: 0;
    width: 40px;
    height: 40px;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5cm;
    cursor: pointer;

}
.FiledSence h1{
    
}
.container{
    width: 4000px;
    margin: auto;
    display: flex;
    border: .1px solid rgb(151, 147, 147);
}
/*=========================cards=========================*/
